/* #create-server-modal:before {
    content:'';
    position: absolute;
    background: rgba(255,255,255,.2);
    top:0;
    left:0;
    bottom:0;
    right:0;
} */

#create-server-modal {
    background: #fff;
    position: absolute;
    width:40vw;
    /* height:40vh; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* border-radius:6px; */
    box-shadow:0px 2px 8px -2px #000;
    padding:20px;
    box-sizing: border-box;
}

#create-server-modal .create-server-wrapper {
    border:10px solid rgb(255, 238, 149);
    box-sizing: border-box;
    padding:20px;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center */
}

#create-server-modal label {
    margin-bottom:12px;
    margin-top:24px;
    font-size:18px;
}

#create-server-modal label span {
    margin-left:12px;   
}

#create-server-modal label:first-of-type {
    margin-top:0;
}
#create-server-modal label:last-of-type {
    margin-bottom:0;
}

#create-server-modal input[type="text"] {
    display:block;
    border:0;
    padding:14px 24px;
    outline:none;
    background:#f3f3f3;
    font-size:16px;
    font-style:italic;
    font-weight:500;
    letter-spacing:.05em;
}

#create-server-modal input[type="text"]::placeholder {
    font-size:16px;
    font-style: italic;
    font-weight:500;
    letter-spacing: .05em;
    /* text-transform: uppercase; */
}

#create-server-modal input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    position: relative;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    /* width: 200px; */
    cursor: pointer;
    border-radius: 0; /* iOS */
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #f3f3f3;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
 input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px; /* 1 */
    height: 40px;
    background: rgb(8, 9, 69);
    box-shadow: -100vw 0 0 100vw rgb(255, 70, 118);
}

input[type="range"]::-moz-range-track {
    height: 40px;
    background: #ddd;
}

input[type="range"]::-moz-range-thumb {
    background: rgb(8, 9, 69);
    height: 0px;
    width: 20px;
    border: 3px solid #f3f3f3;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw rgb(255, 70, 118);
    box-sizing: border-box;
}

input[type="range"]::-ms-fill-lower { 
    background: rgb(255, 70, 118);
}

/* ::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
} */

/* ::-ms-ticks-after { 
    display: none; 
} */

/* ::-ms-ticks-before { 
    display: none; 
} */

/* ::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
} */

/* ::-ms-tooltip { 
    display: none;
} */

#create-server-modal input[type="checkbox"] {
    
}

#create-server-modal button {
    font-family: 'Lobster', cursive;
    background: transparent;
    box-sizing:border-box;
    border:2px solid rgb(255, 70, 118);
    color:rgb(8, 9, 69);
    border-radius:0;
    padding:7px 12px;
    width:160px;
    position: relative;
    cursor:pointer;
    display: block;
    margin:0 auto;
    margin-top:20px;
    font-size:24px;
    transition:all .3s ease-in-out;
}
