.waitingmodal {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.waitingmodal button {
  font-family: 'Lobster', cursive;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid rgb(255, 70, 118);
    color: rgb(8, 9, 69);
    border-radius: 0;
    padding: 7px 12px;
    width: 160px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.waitingmodal-status {
  font-family: 'Lobster', cursive;
  text-align: center;
  display: block;
  color:rgba(128,128,128,.6);
}

.waiting-player {
  display:flex;
  flex-direction: column; 
  border:0;
}


.waiting-player i {
  font-size:3rem;
}

.waitingmodal-spinner-container {
  position: relative;
  height: 100px;
}

.waitingmodal-spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url("#goo");
  animation: rotate-move 2s ease-in-out infinite;
}

.waitingmodal-players {
  display: flex;
}

.dot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #f74d75;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #ffe386;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@keyframes dot-3-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translateY(-18px) scale(0.45);
  }
  60% {
    transform: translateY(-45px) scale(0.45);
  }
  80% {
    transform: translateY(-45px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes dot-2-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(-16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(-45px, 30px) scale(0.45);
  }
  80% {
    transform: translate(-45px, 30px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes dot-1-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(45px, 30px) scale(0.45);
  }
  80% {
    transform: translate(45px, 30px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes index {
  0%,
  100% {
    z-index: 3;
  }
  33.3% {
    z-index: 2;
  }
  66.6% {
    z-index: 1;
  }
}
