.main-dashboard-controls {
    display: flex;
    font-family: 'Lobster', cursive;
    font-size:16px;
    color:rgb(8, 9, 69);
}

.main-dashboard-controls button {
    padding:12px 24px;
    width:50%;
    background: #fff;
    border:0;
    font-family: 'Lobster', cursive;
    font-size:16px;
    color:rgb(8, 9, 69);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.main-dashboard-controls button:hover {
    color:#fff;
    background:rgb(255, 70, 118);
}

.main-dashboard-create-server {
    margin-right:10px;
}

.main-dashboard-join-server {
    margin-left:10px;
}