@import url('../node_modules/font-awesome/css/font-awesome.min.css');

body {
    background-image:url('./assets/images/trianglify.png');
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    font-family: 'Lato', sans-serif;
}

i {
    font-family: 'FontAwesome';
}

.text-danger {
    color:rgb(255, 70, 118);
}

.text-success {
    color:rgb(0,178,24);
}

.text-dark {
    color:rgb(8, 9, 69);
}