.dashboard {
    height:100vh;
    display: flex;
}
.main-dashboard {
    width:100%;
}
.dashboard-right {
    width:30vw;
    min-width:300px;
    max-width:400px;
    background: rgba(245,245,245,1);
    margin:10px;
    /* border-radius:6px; */
    box-shadow:0px 2px 8px -2px #000;

}