.gameroom {
    height:100vh;
    display: flex;
}
.gameroom-controls {
    width:30vw;
    min-width:300px;
    max-width:400px;
    /* background: #fff; */
    margin:10px;
    /* border-radius:6px; */
    /* box-shadow:0px 2px 8px -2px #000; */
    display: flex;
    flex-direction: column;

}

.gameroom-controls-wrapper {
    height:120px;
    background: #000;
}