.chat-container .chat-header {
    font-family: 'Lobster', cursive;
    font-size:16px;
    color:rgb(8, 9, 69);
    /* border-bottom:1px solid rgba(128,128,128,.2); */
    padding:0 10px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 12px -8px #000;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    background:#fff;
    margin-top:4px;
    box-shadow:0px 2px 8px -2px #000;

}

.chat-container .chat-header span {
    font-size:16px;
    display:block;
    margin-left:auto;
}

.chat-container .chat-body {
    height:100%;
    background: rgba(128,128,128,.1);
    overflow-y:auto;
}

.chat-container .chat-footer {
    height:50px;
    display:flex;
    background: rgba(128,128,128,.1);
}

.chat-container .chat-footer input {
    width:100%;
    background:transparent;
    border:0;
    margin:4px;
    border-radius: 20px;
    background:#fff;
    border:1px solid rgba(128,128,128,.2);
    box-sizing:border-box;
    padding:10px;
    outline:none;
}

.chat-container .chat-footer input::placeholder {
    font-size:14px;
    font-style: italic;
    font-weight:500;
    letter-spacing: .05em;
}

.chat-container .chat-footer button {
    padding:0 10px;
    /* background:rgb(255, 70, 118); */
    background: transparent;
    cursor:pointer;
    border:0;
    font-size:18px;
    color:rgb(255, 70, 118);
}

.chat-message-wrapper {
    width:100%;
    box-sizing: border-box;
    padding:0 10px;
    margin:10px 0;
    display:flex;
}
.chat-content {
    width: 70%;
}

.chat-content label {
    display:block;
    color:rgba(128,128,128);
    padding:0 10px;
    font-size:12px;
    margin-bottom:2px;
}

.chat-reversed label {
    text-align: right;
}

.chat-content p {
    background: rgb(255, 70, 118);
    padding: 7px 12px;
    border-radius: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-shadow: 0px 2px 8px -4px #000;
}

.chat-reversed {
    margin-left:auto;
    color:#fff;
}