.waiting-player {
    width:100%;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:4px;
    /* background: red; */
    padding:10px 0;
    box-sizing: border-box;
    border-bottom:1px solid rgba(128, 128, 128, .15);
}

.waiting-player:last-of-type {
    border-bottom:0;
}

.waiting-player .player-img {
    height:40px;
    width:40px;
    min-width: 40px;
    border-radius: 50%;
    margin-right:12px;
    background:blue;
}

.waiting-player .player-info {
    width:100%;
}

